<a href="https://colab.research.google.com/github/matt700395/do_it_algo_sangwoo/blob/main/%EC%9D%B4%EC%B7%A8%EC%BD%94_Chap6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#chap6 정렬 2번 위에서 아래로

n = int(input())
x = []
for i in range(0,n):
  temp = int(input())
  x.append(temp)

x.sort()
x.reverse()
print(x)

3
15
27
12
[27, 15, 12]

2번 위에서 아래로

이 문제는 input이 500개 한정이기 때문에 어떤 정렬 알고리즘을 써도 문제가 없다.
여기서는 간결하게 파이썬 기본 정렬 라이브러리를 사용해보자

In [ ]:
#chap6 정렬 2번 위에서 아래로
#책 정답
n = int(input())
array = []

for i in range(n):
  array.append(int(input()))

array = sorted(array, reverse=True)

for i in array:
  print(i, end='') #이거 캐치하면 좋을듯!

3
15
27
12
271512

In [ ]:
for i in array:
  print(i) #이거 캐치하면 좋을듯!

27
15
12

3번 성적이 낮은 순서로 학생 출력하기

In [ ]:
#3번 성적이 낮은 순서로 학생 출력하기

n = int(input())
student_dic = {}
student_list = []

#for i in range(n):
#빠른 학습을 위해 정답 보겠음

이 문제에서는 학생의 정보가 최대 100,000개까지 입력될 수 있으므로 최악의 경우 O(NlonN)을 보장하는 알고리즘을 이용하거나 O(N)을 보장하는 계수정렬을 이용하면 됨

이름만 출력하면 되므로 (점수, 이름)으로 묶은 뒤 점수를 기준으로 정렬하면됨

이때도 기본 정렬 라이브러리가 효과적임

In [ ]:
#3번 책 정답
n=int(input())

array=[]
for i in range(n):
  input_data = input().split()#split으로 공백기준으로 이름과 점수를 나워서 list로 받음
  array.append((input_data[0], int(input_data[1]))) #이름과 점수 형변환후 다시 튜플로 다시 저장 -> 딕셔너리로 왜 안할까?

array = sorted(array, key=lambda student: student[1]) #여기서 sorted의 옵션을 잘 살펴보고 가자

for student in array: 
  print(student[0], end = '')

2
홍길동 95
하상우 100
홍길동하상우

4. 두 배열의 원소 교체

In [ ]:
#배열 A의 원소합이 최대가 되도록 하는것